:root {
    --image-width: calc(100% / 3);
}

.page-view {
    display: flex;
    width: 100%;
    height: 100%;
    user-select: none;
}

.artistsTable {
    border: 4px solid black;
    background-color: grey;
    padding: 2px;
    margin: 2px;
    width: 25%;
    height: 80vh;
    overflow: auto;
    float: left;
}

.artistsTable::-webkit-scrollbar {
    display: none;
    width: 0;
}

.artist {
    border: 2px solid black;
    background: radial-gradient(silver, #646464);
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: auto;
    height: auto;
}

.artist:hover {
    background: radial-gradient(white, silver);
}

.cardsTable {
    border: 4px solid black;
    background-color: grey;
    padding: 2px;
    margin: 2px;
    width: 20%;
    height: 80vh;
    overflow: auto;
    float: right;
}

.cardsTable::-webkit-scrollbar {
    display: none;
    width: 0;
}

.card {
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: auto;
    height: auto;
}

.card-img-table {
    padding: 2px;
    margin: 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 100%;
    height: 95vh;
    overflow: auto;
}

.card-img-table::-webkit-scrollbar {
    display: none;
    width: 0;
}

.card-img {
    /*width: var(--image-width);*/
    flex-direction: row;
    width: 100%;
    height: auto;
}