
/* The CSS used for set pages */
.page-view {
    display: flex;
    width: 100%;
    height: 100%;
    user-select: none;
}

/* Used for the navigation bar at top -- WIP */
.navi-setCode {
    border: 4px solid black;
    padding: 1vh;
    margin: 2px;
    user-select: none;
}

/* Used specifically for the text within a nav-bar */
.navi-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

/* CSS for the table containing artist elements */
.artistsTable {
    border: 4px solid black;
    background-color: grey;
    padding: 2px;
    margin: 2px;
    width: 25%;
    height: 80vh; /* Height is 80% of the visible height of the page */
    overflow: auto; /* If there is overflow in this element, it becomes scrollable */
    float: left;
}

/* Removes the scrollbar from the .artistsTable, but keeps scrollability */
.artistsTable::-webkit-scrollbar {
    display: none;
}

/* Used for elements representing artists */
.artist {
    border: 2px solid black;
    background: radial-gradient(silver, #646464);
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: auto;
    height: 5vh;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

/* Makes the .artist elements change color on hovering */
.artist:hover {
    background: radial-gradient(white, silver);
}

/* Styles the table that contains information on the cards within a set */
.cardsTable {
    border: 4px solid black;
    background-color: grey;
    padding: 2px;
    margin: 2px;
    width: 20%;
    height: 80vh; /* Height is 80% of the visible height of the page */
    overflow: auto; /* If there is overflow in this element, it becomes scrollable */
    float: right;
}

/* Removes the scrollbar from the .cardsTable, but keeps scrollability */
.cardsTable::-webkit-scrollbar {
    display: none;
}

/* Styles the cards boxes */
.card {
    border: 2px solid black;
    padding: 2px;
    margin: 2px;
    text-align: center;
    width: auto;
    height: auto;
}

/* Styles the table containing images of cards */
.card-img-table {
    border: 4px solid black;
    padding: 2px;
    margin: 2px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Makes it so five cards are shown per row */
    grid-gap: 10px;
    width: 100%;
    height: 80vh; /* Height is 80% of the visible height of the page */
    overflow: auto; /* If there is overflow in this element, it becomes scrollable */
}

/* Removes the scrollbar from the .card-img-table, but keeps scrollability */
.card-img-table::-webkit-scrollbar {
    display: none;
}

/* Styles the card images */
.card-img {
    flex-direction: row;
    width: 100%;
    height: auto;
}
